body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin:0px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px;
    background-color: lightpink;
}

.title {
    font-weight: 600;
    font-size: 32px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    gap: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section1 {
    background-color: rgb(255, 204, 212);
    padding: 16px 80px;
    display: flex;
    justify-content: space-between;
}

h2 {
    padding: 0;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 600;
}

.subsectionA p {
    font-size: 16px;
    color: rgb(14, 17, 17);
    padding: 0;
    margin: 8px 0;
}

button {
    background-color: rgb(114, 64, 114);
    font-size: 16px;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    border: none;
    color: whitesmoke;
    flex: none;
    height: fit-content;
    width:fit-content;
}

.section1 img {
    margin-left: 8px;
    height: auto;
    width: 300px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
}

h4 {
    font-size: 24px;
    padding: 0;
    margin: 0;
}

.subsectionD {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.img {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
}

.img img {
    min-width: 150px;
    min-height: 150px;
    border: solid 2px rgb(114, 64, 114);
    border-radius: 8px;
}

.subtext {
    margin: 4px;
    font-size: 16px;
    font-weight: lighter;
    color:rgb(14, 17, 17);
}

.section3 {
    background-color: lightgray;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    font-weight: lighter;
    padding: 40px 80px;
}

.section3 .quote {
    margin: 0;
}

.section3 .author {
    font-weight: bold;
    text-align: end;
    font-style: normal;
}

.section4 {
    padding: 20px 50px;
    background-color: rgb(79, 114, 102);
    border-radius: 8px;
    margin: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subsectionE {
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: white;
}

h6 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.subsectionE p {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.footer {
    background-color: #eee;
    height: 64px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}